<div class="row router-window">
  <div class="col-md-12 col-lg-12">
    <nb-card>
      <nb-card-body>
        <nb-tabset>
          <nb-tab [active]="activeTab" tabTitle="IP/Pools" tabIcon="bookmark-outline" responsive>
            <ngx-pools-list (outputEvent)="receivedOuputEvent($event)" [routerUuid]="routerInfo.routerUuid" ></ngx-pools-list>
          </nb-tab>
          <nb-tab tabTitle="Profile" tabIcon="options-outline" responsive>
            <p>List of <strong>profiles</strong>.</p>
          </nb-tab>
          <nb-tab tabTitle="Secrets" tabIcon="people-outline" responsive>
            <p>List of <strong>users</strong>.</p>
          </nb-tab>
          <nb-tab tabTitle="Interfaces" tabIcon="shuffle-2-outline" responsive>
            <p>List of <strong>interfaces</strong>.</p>
          </nb-tab>
        </nb-tabset>
      </nb-card-body>
    </nb-card>

  </div>
</div>






